.menu-list{
    display: -webkit-flex!important;
    display: -webkit-box;
}

.menu-list .menu{
    padding: .5rem;
    -webkit-flex: 1!important;
    -webkit-box-flex: 1;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #F2F2F2;
}

.menu-list .menu.select{
    color: #efab01;
}

.cool-products{
    padding-bottom: .5rem;
    background-color: #F2F2F2;
}

.product-item{
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: #FFFFFF;
}

.cool-products .product-img{
    width: 100%;
}

.cool-products .product-info{
    margin-top: 1rem;
    line-height: 1rem;
    color: #333333;
}

.cool-products .product-info .product-price{
    color: #efab01;
}

.search-opt{
    position: relative;
    margin: .3rem;
    height: 1.76rem;
}

.search-opt-input{
    display: block;
    position: absolute;
    height: 1.76rem;
    width: 100%;
    z-index: 10;
    border: 1px solid #e3e3e3;
}

.search-opt:before{
    content: "";
    position: absolute;
    left: .5rem;
    top: .58rem;
    width: .52rem;
    height: .52rem;
    background: url("../img/icon/search-icon.png");
    background-size: cover;
}

.search-opt input {
    width: 100%;
    background: #fff;
    height: 1.76rem;
    -webkit-border-radius: 4px;
    color: #9b9b9b;
    padding: .1rem .3rem .1rem 1.5rem;
    -webkit-appearance: none;
    vertical-align: baseline;
    border: 1px solid transparent;
    font-size: .8rem;
}