.title-nav{
    position: relative;
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #666666;
}

.go-back{
    position: absolute;
    left: 1rem;
    top:.7rem;
    font-size: .7rem;
    line-height: .7rem;
    color: #666666;
}

.ad-position-info{
    width: 100%;
    height: 6rem;
    background-image : url("../img/login-bg.png");
    background-size: cover;
}

.loginl-info{
    display: -webkit-box;
    padding-top: .6rem;
    background-color: #f3f4f6;
    overflow-x: hidden;
}

.loginl-info form{
    width: 100%;
    background-color: #FFFFFF;
}

.userinfo{
    display:block;
    padding: 0 1.3rem;
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    clear: both;
}

.userinfo .userinfo-label{
    float: left;
    color: #333333;
}

.userinfo .userinfo-value{
    float: left;
    width: 10rem;
}

.userinfo .userinfo-value input{
    width: 100%;
    border: 0 none;
    background-color: white;
    outline: 0;
    padding: .2rem .4rem;
}

.userinfo .submit{
    padding: .3rem 5rem;
    background: #eda200;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    border-radius: 0.2rem;
}

.mt13{
    margin-top: 1.3rem;
}

.bd-line{
    border-bottom: 1px solid #dddddd;
}

.userinfo-error{
    padding: 0 1.3rem;
    color: #ff0000;
}