<nav class="nav">
    <ul>
        <li><a href="/"> <i class="goods"></i> 神器</a></li>
        <li><a href="/drugstore/index.jhtml"> <i class="store"></i> 神店</a></li>
        <li><a href="/cart/list.jhtml"> + </a></li>
        <li><a href="/member/index.jhtml"> <i class="member"></i> 神人</a></li>
        <li><a href="/member/account/index.jhtml?accountType=1"> <i class="god-money"></i> 神币</a></li>
    </ul>
</nav>

<div class="nav-yuan">
    <span class="yuan">
        <a href="/cart/list.jhtml">
                <span class="in-yuan">
                    +
                </span>
        </a>
    </span>
</div>